@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

.Users {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: "Lobster", cursive;
}
